.background img 
{
    position: relative;
    height: 100vh;
    width: 100%;
}

.logo{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 3rem;
    font-size: 7rem;
    font-family: 'Shantell Sans', cursive;
    font-family: 'Tilt Warp', cursive;
}

.logo img{
    height: 200px;
}

.sunny 
{
    position: absolute;
    top: 50%;
    left: 14%;
    transform: translate(-50%, -50%);
}
.sunny img
{
    height: 100px;
}

.cloud_01
{
    position: absolute;
    top: 60%;
    left: 14%;
    transform: translate(-50%, -50%);
}

.cloud_01 img 
{
    height:200px;
}

.cloud_02
{
    position: absolute;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.cloud_02 img 
{
    height:200px;
}

.skypie 
{
    position: absolute;
    top: 80%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.skypie img 
{
    height:100px;
}

.hill 
{
    position: absolute;
    top: 88%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.hill img 
{
    height: 30px;
}

.island 
{
    position: absolute;
    top: 87%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.island img 
{
    height: 50px;
}

.one_piece
{
    position: absolute;
    top: 30%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.one_piece img 
{
    height: 80px;
}



   
    