.luffy{
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: space-between;
}

.wood{
    height: 100vh;
}

.member{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 3px solid black;
    gap: 5rem;
}

.image{
    border: 3px solid green;
}

.description{
    border: 3px solid blue;
}